<template>
  <q-page >
    <h1>{{selectType.label}}</h1>
    <div class="row">


        <Farms v-if="selectType.value==='farms'" :data="$store.getters[`video/${this.selectType.getterName}`]" />
        <Plants v-else-if="selectType.value==='plants'" :data="$store.getters[`video/${this.selectType.getterName}`]" />
        <Searches v-else-if="selectType.value==='searches'" :data="$store.getters[`video/${this.selectType.getterName}`]" />
        <ActiveVideos v-else-if="selectType.value==='activeVideos'"/>
        <div v-else>
          No Matches
        </div>
<!--        <Farms v-else-if="selectType.value==='farm'" :data="data" />-->
<!--        <Farms v-else-if="selectType.value==='farm'" :data="data" />-->
<!--        <Farms v-if="selectType.value==='farm'" :data="data" />-->
<!--        <Farms v-if="selectType.value==='farm'" :data="data" />-->

<!--        <component :is="dynamic" :data="data" />-->

      </div>


  </q-page>
</template>

<script>
import {actions, VideoStore} from 'src/store/index';
import {panelTypes} from "components/list-items/panelTypes";
import Farms from 'src/components/list-items/farm';
import Plants from 'src/components/list-items/plant';
import Searches from 'src/components/list-items/search';
import Video from 'src/components/list-items/video';
import Objects from 'src/components/list-items/object';
import ActiveVideos from 'src/components/list-items/activeVideos';

export default {
  name: 'PageIndex',
  components: {Farms, Plants, Searches, Video, Objects, ActiveVideos},
  data() {
    return {
      search: '',
      results: null,
      selectedComponent: null,
      selectType: {},
      dynamic: null,
    }
  },
  watch: {
    '$route.params.leftPane'(newLeftPane)  {
      this.loadLeftPane(newLeftPane);
    }
  },
  mounted() {
    this.loadLeftPane(this.$route.params.leftPane);
  },
  methods: {
    loadLeftPane(leftPane){
      this.selectType = panelTypes.find(({value}) => value === leftPane);
      // this.data = this.$store.getters[`video/${this.selectType.getterName}`];
      // console.log(Object.keys(this.$store.getters));
      // this.dynamic = () => import(`./../components/list-items/${this.selectType.value}.vue`);
    },
    apiSearch() {
      this.$axios.get(`/youtube/search?keyword=${this.search}`).then(({data}) => {
        this.results = Object.values(data);
        console.log(this.results)
      });
    },
    apiLoadChannel(channelId) {
      this.$axios.get(`/youtube/search?channel=${channelId}`).then(({data}) => {
        this.results = Object.values(data);
        console.log(this.results)
      });
    }
  }
}
</script>
