<template>
  <q-page>
    <q-dialog v-model="youtube" full-width full-height>
      <q-card>
        <q-card-section  v-html="html" v-if="html!==null"/>
      </q-card>
    </q-dialog>
    <div class="col row" v-if="search_results!==null">
      <div class="col-3 column justify-center content-center text-center">
        <q-btn color="secondary" size="xl" class="col-2" @click="downloadAll()">
          <q-icon name="download" />
          <q-icon name="download" />
          Download All
          <q-icon name="download" />
          <q-icon name="download" />
        </q-btn>
        <q-checkbox color="primary" size="xl" label="Only Show Downloaded Videos" v-model="showDownloadedOnly"/>
        <q-list dense bordered class="col">
          <q-item dense  >
            <q-checkbox disabled label="Take Video Screenshot"  value="true" val="true"/>
            <small>http://fabricjs.com/</small>
          </q-item>
          <q-item dense >
            <q-checkbox disabled label="Put it into a fabric canvas"  value="true"  val="true"/>
          </q-item>
          <q-item dense >
            <q-checkbox disabled label="make arrow drawing" value="true"/>
<!--            https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Manipulating_video_using_canvas-->
            <small>
              https://jsbin.com/nepiqaviqe/1/edit?js,output
              with
              https://stackoverflow.com/questions/29890294/arrow-shape-using-fabricjs
            </small>
          </q-item>
          <q-item dense >
            <q-checkbox disabled label="Write text with image legend"  value="true"/>
          </q-item>
          <q-item dense >
            <q-checkbox disabled label="Allows 5 Sec video shot"  value="true"/>
          </q-item>
        </q-list>
      </div>

      <q-card flat bordered class="my-card  col-3 hover"
              v-for="(result, i) in search_results" :key="i"
              v-if="showDownloadedOnly ? result.downloaded===true : true">

        <q-card-section>
          <div class="row items-center no-wrap">
            <div class="col">
              <div class="text-h6">{{ result.video.snippet.title }}</div>
              <q-btn flat class="text-bold text-blue"
                     @click="apiLoadChannel(result.video.snippet.channelId)">
                {{ result.video.snippet.channelTitle }}
              </q-btn>
              <q-badge :label="result.video.id" color="blue"  />
              <q-spinner-hearts color="secondary" v-if="result.downloading && !result.downloaded" size="xl"/>
            </div>
          </div>
        </q-card-section>

        <q-card-actions v-if="!result.downloaded">
          <q-btn v-if="!result.downloading" color="primary" icon="download" @click="download(i)">Download</q-btn>
          <q-btn v-if="!result.downloading" color="accent" icon="archive">Ignore</q-btn>
        </q-card-actions>

<!--        <q-card-section>-->
<!--          <q-list dense bordered separator>-->
<!--            <q-item>Nb Views: 0</q-item>-->
<!--            <q-item>Annotated progress: 0%</q-item>-->
<!--            <q-item>Interesting Stars</q-item>-->
<!--            <q-item>Labels:</q-item>-->
<!--            <q-item>Citations:</q-item>-->
<!--            <q-item>Screenshots:</q-item>-->
<!--            <q-item>Farm location</q-item>-->
<!--            <q-item>Author Name</q-item>-->
<!--          </q-list>-->
<!--        </q-card-section>-->


        <q-card-section>

          <q-img :src="result.video.snippet.thumbnails.default.url"
                 :ratio="4/3"
                 @click="showVideo(result)"/>
        </q-card-section>

      </q-card>
    </div>
  </q-page>
</template>

<script>
import Video from 'components/Video';
import {VideoStore, actions} from 'src/store/index';
export default {
  name: "Search",
  components: {Video},
  computed: {
    // camelcase for local state, underscores for vuex state
    ...VideoStore(['searches', 'search_results']),
  },
  data() {
    return {
      html: '',
      youtube: false,
      console,
      showDownloadedOnly: false,
    }
  },
  methods: {
    downloadAll() {
      this.$store.dispatch(`video/${actions.DOWNLOAD_ALL_VIDEOS}`);
    },
    download(index) {
      this.$store.dispatch(`video/${actions.DOWNLOAD_VIDEO}`, this.search_results[index].video.id);
    },
    apiSearch() {
      this.$store.dispatch(`video/${actions.MAKE_SEARCH}`, this.$route.query);
    },
    apiLoadChannel(channelId) {
      this.$router.push(`/${this.$route.params.leftPane}/search?keyword=&channel=${channelId}`);
    },
    showVideo(result) {
      console.log('Setting active Video', result)
      if (result.downloaded) {
        this.html = null;
        this.$store.dispatch(`video/${actions.LOAD_CURRENT_VIDEO}`, result.video.id).then(() => {
          this.$router.push(`/${this.$route.params.leftPane}/video/${result.video.id}`)
        });
      } else {
        this.html = result.video.player.embedHtml;
        this.youtube = true;
      }
    }
  },
  watch: {
    '$route': function (route) {
      if (route.name === 'search') {
        this.apiSearch();
      }
    }
  },
  mounted() {

    this.apiSearch();
  }
}
</script>

<style scoped>

</style>
