<template>
  <VideoComponent />
</template>

<script>

import {actions} from 'src/store/index';

import VideoComponent from "components/Video";
export default {
  name: "VideoPage",
  components: {VideoComponent},
  data() {
    return {
      url: null,
      video: null,
    }
  },
  methods: {
    loadVideo() {
      this.$store.dispatch(`video/${actions.LOAD_CURRENT_VIDEO}`, this.$route.params.id);
    }
  },
  watch: {
    '$route.params.id'() {
      this.loadVideo()
    }
  },
  mounted() {
    this.loadVideo()
  }
}
</script>

<style scoped>

</style>
