<template>
  <q-form class="column bg-green-1 q-pa-md" @submit="console.log">
    <q-dialog v-model="confirm">
      <q-card>
        <q-card-section class="text-h5">
          This is going to create the Farm called <q-badge color="primary">{{newFarmName}}</q-badge>
        </q-card-section>
        <q-card-actions>
          <q-btn color="primary" @click="confirm=false">No</q-btn>
          <q-btn color="primary" @click="newFarm()">Yes, Create</q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-select
      filled
      v-model="farm.farm_name"
      use-input
      hide-selected
      label="Farm name"
      fill-input
      input-debounce="0"
      :options="select_farms"
      required
      new-value-mode="add-unique"
      @new-value="createFarm"
      @input="assignFarm"
      hint="Minimum 2 characters to trigger filtering"
    >
      <template v-slot:option="scope">
        <q-item
          v-bind="scope.itemProps"
          v-on="scope.itemEvents"
        >
          {{scope.opt}}
        </q-item>
      </template>
    </q-select>

    <q-input label="Farm Location" v-model="farm.location" required filled class="q-mb-sm"
             @input="saveFarm" :debounce="600"
             :disable="farm.id===null"/>

    <q-input label="Website" v-model="farm.website" filled
             @input="saveFarm" :debounce="600"
             :disable="farm.id===null"/>

  </q-form>
</template>

<script>

import {VideoStore, actions} from 'src/store/index';

export default {
  name: "FarmInfo",
  props: ['farmid', 'videoId'],
  computed: {
    ...VideoStore(['select_farms', 'farms_index'])
  },
  data() {
    return {
      console,
      confirm: false,
      farm: {
        farm_name: '',
        location: '',
        website: '',
      },
      newFarmName: ''
    }
  },
  watch: {
    'farmid': function(newFarmId) {
      console.log('FARM ID', newFarmId);
      this.farm = Object.assign({}, this.farm, this.farms_index[newFarmId]);
    }
  },
  mounted() {
    this.farm = Object.assign({}, this.farm, this.farms_index[this.farmid]);
  },
  methods: {
    editFarm(data) {

    },
    createFarm(data) {
      console.log('new farm', data)
      this.newFarmName = data;
      this.confirm = true;
    },
    assignFarm(newFarm) {
      this.farm = newFarm;
      console.log('assign farm', newFarm)
      if (this.videoId) {
        this.$store.dispatch(`video/${actions.SET_VIDEO_FARM}`, {farm_id: this.farm.id, video_id: this.videoId});
      }
    },
    newFarm() {
      this.$store.dispatch(`video/${actions.NEW_FARM}`, {farm_name: this.newFarmName}).then((farm) => {
        this.farm = farm;
        console.log('resolved: ', farm);
        this.assignFarm(farm);
        this.confirm = false;
      });
    },
    saveFarm() {
      console.log('Saving farm', this.farm)
      this.$store.dispatch(`video/${actions.SAVE_FARM}`, {...this.farm})
    }
  }
}
</script>

<style scoped>

</style>
