<template>

  <q-list>
    <component :is="selectedComponent"
               v-for="(data, i) in listData"
               :key="i"
               :data="data" />
  </q-list>

</template>

<script>

export const componentTypes = {
  Video: 'video',
  Farm: 'farm',
  Search: 'search',
  Plant: 'plant',
  Object: 'object'
}

export default {
  name: "List",
  props: {
    listData: Array,
    type: String,
  },
  data() {
    return {
      componentList: [
        // {
        //   component: () => import('./list-items/video'),
        //   label: 'A Video',
        //   type: componentTypes.Video,
        // },
        // {
        //   component: () => import('./list-items/farm'),
        //   label: 'A Farm',
        //   type: componentTypes.Farm,
        // },
        // {
        //   component: () => import('./list-items/search'),
        //   label: 'A Search',
        //   type: componentTypes.Search,
        // },
        // {
        //   component: () => import('./list-items/plant'),
        //   label: 'A Plant',
        //   type: componentTypes.Plant,
        // },
        // {
        //   component: () => import('./list-items/object'),
        //   label: 'An Object',
        //   type: componentTypes.Object,
        // },
      ],
      selectedComponent: null
    }
  },

  watch: {
    'type': function(newType) {
      this.selectedComponent = () => import(`./list-items/${newType}.vue`);
    }
  },
  mounted() {
    this.selectedComponent = () => import(`./list-items/${this.type}.vue`);
  }
}
</script>

<style scoped>

</style>
