<template>
  <q-form class="col-4 column bg-green-1 q-pa-md" @submit="console.log">

    <q-input label="farm name" required v-model="farm.name" filled class="q-mb-sm"  >
    <q-input label="Farm Location" v-model="farm.location" required filled class="q-mb-sm" />
    <q-input label="Website" v-model="farm.website" filled />

  </q-form>
</template>

<script>
export default {
  name: "NewFarm"
}
</script>

<style scoped>

</style>
