<template>
  <q-btn color="secondary"
         class="q-ma-sm"
         :label="selected === null ? 'Add a Plant' : selected.label"
         icon="grass">
    <q-menu ref="menu" persistent>
      <q-list dense style="min-width: 100px">
        <q-item clickable persistent v-for="(main, i) in plants" :key="i">
          <q-item-section>{{ main.label }}</q-item-section>
          <q-item-section side>
            <q-icon name="keyboard_arrow_right" />
          </q-item-section>
          <q-menu anchor="top end" self="top start">
            <q-list>
              <q-item
                v-for="(plant, j) in main.children"
                :key="j"
                dense
                @click="selectPlant(plant)"
                clickable
              >
                <q-item-section>{{plant.label}}</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-item>
      </q-list>
    </q-menu>
  </q-btn>
</template>

<script>
import {actions, VideoStore} from 'src/store'

export default {
  name: "NewPlant",
  computed: {
    ...VideoStore(['plants'])
  },
  props: ['screenshotId'],
  data(){
    return {
      selected: null,
    }
  },
  methods: {
    selectPlant: function(plant) {
      this.selected = plant;
      this.$refs.menu.hide();
      this.$store.dispatch(`video/${actions.ADD_PLANT_TO_SCREENSHOT}`, {plant_id: plant.id, screenshot_id: this.screenshotId})
    }
  },
  mounted() {

    console.log('MOUNTED: ', this.plants)
  }
}
</script>

<style scoped>

</style>
