<template>

  <div class="column full-height full-width">
    <div class="col-9 row ">


      <div class="col-9" ref="canvasContainer">

        <canvas ref="canvas" class="full-width full-height"/>
        <q-page-sticky position="top-left" :offset="[40, 0]" >
          <q-btn fab icon="fullscreen" color="secondary" @click="fullscreen()" />
        </q-page-sticky>
      </div>
      <div class="col-3 q-pa-sm column">
        <q-input v-model="model.legend"
                 debounce="400" @input="save()"
                 input-class="text-h5 text-primary "
                 label="Enter title"
                 filled
                 class="col-1"/>
        <div class="col-5 row">
          <div class="col-4">
            <h4 class="col-12">Measures</h4>
            <q-list v-if="screenshot.edges.Measurements" dense class="bg-grey-1 col-12">
              <q-item v-for="(ss, index) in screenshot.edges.Measurements"
                      clickable
                      :active="activeMeasurementIndex===index"
                      active-class="bg-yellow-2"
                      @click="loadMeasurement(index, ss.id)"
                      :key="index">
                <q-input :value="ss.name" debounce="500" @input="setMeasurementName"/>
              </q-item>
              <q-item>
                <q-btn class="primary" icon="add" @click="addMeasurement">Add</q-btn>
              </q-item>
            </q-list>
          </div>


          <div class="col-8">
            <h4 class="col-12">Plants</h4>
            <q-list v-if="screenshot.edges.Measurements"  class="bg-grey-1 col-12">
              <q-item  v-for="plant in screenshot.edges.Plant" :key="plant.id">
                <q-item-section side>
                  <q-icon name="grass" />
                </q-item-section>
                <q-item-section >
                  {{plant.name}}
                </q-item-section>
                <q-item-section side>
                  <q-btn size="xs" color="primary" rounded glossy icon="delete" @click="unlinkPlant(plant)" />
                </q-item-section>
              </q-item>
              <q-item>
                <NewPlant :screenshot-id="screenshot.id" />
              </q-item>
            </q-list>
          </div>

        </div>

        <div class="col-4 q-pa-sm bg-yellow-2 row">

            <q-checkbox label="Cool tool" v-model="unset"/>
            <h5 class="q-ml-md">Soil</h5>
            <q-checkbox label="Compost"  v-model="unset"/>
            <q-checkbox label="Bed"  v-model="unset" />
            <h5 class="q-ml-md">Construction</h5>
            <q-checkbox label="Sun Room" size="xl"  v-model="unset"/>
            <q-checkbox label="Drone View" size="xl"  v-model="unset"/>

        </div>

        <div class="col-1 row q-pa-sm">
          <q-btn @click="play()" color="primary" >play</q-btn>
          <q-btn @click="removeScreenshot()" color="red" icon="delete" />
        </div>
      </div>
    </div>

    <div class="col-3 row">
      <div class="col-3 q-pa-md">
        <h4>
          Description
        </h4>
        <p>Enter some details here</p>
      </div>
      <div ref="editor"
           id="editor"
           class="q-pa-sm bg-grey-2 col-9"></div>
    </div>

  </div>
</template>

<script>
import EditorJS from '@editorjs/editorjs';
import Header from '@editorjs/header';
import List from '@editorjs/list';
import Table  from  '@editorjs/table';
const Checklist = require('@editorjs/checklist');
const LinkTool = require('@editorjs/link');
import {actions, VideoStore} from 'src/store/index';
function debounce(func, wait, immediate) {
  var timeout;
  return function() {
    var context = this, args = arguments;
    var later = function() {
      timeout = null;
      if (!immediate) func.apply(context, args);
    };
    var callNow = immediate && !timeout;
    clearTimeout(timeout);
    timeout = setTimeout(later, wait);
    if (callNow) func.apply(context, args);
  };
};

import NewPlant from "components/NewPlant";
import {DrawingEditor, DrawingMode} from "components/fabric-lib";

export default {
  name: "EditScreenshot",
  components: {NewPlant},
  props: ['screenshot'],
  computed: {
    ...VideoStore(['plants', 'measurements'])
  },
  data() {
    return {
      editor: null,
      unset: false,
      model: {
        legend: '',
        description: '',
      },
      fabric: null,
      fab: {
        img: null,
      },
      drawing: null,
      DrawingMode,
      activeMeasurementIndex: null,
    }
  },

  watch: {
    screenshot: function(s) {
      this.model = Object.assign({}, this.model, s);
    }
  },
  beforeDestroy() {
    if (this.editor) {
      this.editor.destroy();
    }
  },
  mounted() {
    this.model = Object.assign({}, this.model, this.screenshot);
    console.log('MOUNTED SCREENSHOT: THIS=', this);
    this.editor = new EditorJS({
      /**
       * Id of Element that should contain Editor instance
       */
      holder: 'editor',
      tools: {
        header: {
          class: Header,
          inlineToolbar: true,
          config: {
            placeholder: 'Enter a header',
            levels: [2, 3, 4],
            defaultLevel: 3
          }
        },
        // list: {
        //   class: List,
        //   inlineToolbar: true,
        // },
        checklist: {
          class: Checklist,
          // inlineToolbar: true,
        },
        // table: {
        //   class: Table,
        //   inlineToolbar: true,
        // },
        linkTool: {
          class: LinkTool,
          config: {
            endpoint: `${process.env.API}/url/previewlink`, // Your backend endpoint for url data fetching
          }
        }

      },
      // data: this.model.notes,
      placeholder: 'Let`s write an awesome story!',
      onChange: () => {
        console.log('Changed...')
      },
      // onChange: debounce(() => {
      //   this.editor.save().then((outputData) => {
      //     this.model.description = JSON.stringify(outputData, null, 2);
      //     this.save();
      //   }).catch((error) => {
      //     console.log('Saving failed: ', error)
      //   });
      //
      // }, 800, true),
    });

    this.drawing = new DrawingEditor(this.$refs.canvas, this.$refs.canvasContainer, this.model.id);

    if (this.screenshot.edges.Measurements) {
      this.screenshot.edges.Measurements.forEach(m => {
        this.drawing.drawDrawer(DrawingMode.Point, m);
      })
    }
    // this.drawing.setDrawer(DrawingMode.Point);
  },
  methods: {//measurementIndex'
    fullscreen() {
      this.drawing.fullScreen()
    },
    setMeasurementName(newVal) {
      const activeMeasurement = Object.assign({},this.screenshot.edges.Measurements[this.activeMeasurementIndex], {name: newVal});
      this.$store.dispatch(`video/${actions.SAVE_MEASUREMENTS}`, activeMeasurement)
      console.log(`actveMeasurement set to index ${this.activeMeasurementIndex}: `, activeMeasurement)
    },
    addMeasurement() {

      this.drawing.newDrawer(DrawingMode.Point, (data, second, onSuccess) => {
        if (data.id) {
          debugger;
          this.$store.dispatch(`video/${actions.SAVE_MEASUREMENTS}`, data)
        } else {
          this.$store.dispatch(`video/${actions.NEW_MEASUREMENTS}`, Object.assign({}, data, {screenshot_id: this.screenshot.id})).then((newRecord) => {
            onSuccess(newRecord.id)
          })
        }
      })
    },
    loadMeasurement(index, id) {
      this.activeMeasurementIndex = index;
      this.drawing.loadDrawer(DrawingMode.Point, id, (data) => {
        const activeMeasurement = Object.assign({},data, {name: this.screenshot.edges.Measurements[this.activeMeasurementIndex].name});
        this.$store.dispatch(`video/${actions.SAVE_MEASUREMENTS}`, activeMeasurement);
      })
    },
    removeScreenshot() {
      this.$q.dialog({
        title: 'Confirm',
        message: 'Would you like to remove this screenshot ?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.$store.dispatch(`video/${actions.REMOVE_SCREENSHOT}`, this.screenshot)
        this.play();
      })
    },
    play() {
      this.$emit('play', this.screenshot.current_time-1);
    },
    save() {
      this.$store.dispatch(`video/${actions.SAVE_SCREENSHOT}`, {
        id: this.model.id,
        legend: this.model.legend,
        description: this.model.description
      });
    },
    unlinkPlant(plant) {
      this.$store.dispatch(`video/${actions.REMOVE_PLANT_FROM_SCREENSHOT}`, {
        screenshot_id: this.screenshot.id,
        plant_id: plant.id,
      })
    }
  }
}
</script>

<style scoped>

</style>
