<template>
  <q-page class="full-height column">
    <q-dialog v-model="editScreenshotModal" full-width style="max-width: 1700px;" full-height @hide="onClose()">
      <q-card>
        <Screenshot :screenshot="current_screenshot" @play="play" />
      </q-card>
    </q-dialog>
    <div class="col-10 " v-if="current_video.video">
      <div class="row">
        <div class="col-9" style="position: relative">
          <video ref="video"
                 :id="`video_${current_video.video.id}`"
                 controls width="1080" autoplay autoPictureInPicture
                 crossorigin="anonymous"
                 class="full-width"
                 @loadeddata="ready()"
                 @play="console.log" @playing="console.log"
                 @pause="console.log" @cancel="console.log"
                 @complete="console.log" @progress="console.info"
                 @waiting="console.warn"
                 preload="auto"
                 :src="current_video_url(current_video.video_uid)[0].url"
           />

<!--            <source v-for="(data, i) in current_video_url(current_video.video_uid)"-->
<!--                    :key="i"-->
<!--                    @change="console.log"-->
<!--                    :src="data.url"-->
<!--                    :type="data.type" />-->
<!--            Sorry, your browser doesn't support embedded videos.-->
<!--          </video>-->
          <div class="absolute-center col-4 q-pa-md q-uploader__overlay" v-if="base64ImageData!==null">
            <q-btn @click="keep()" color="primary" icon="check" class="q-ma-sm">Keep</q-btn>
            <q-btn @click="discard()" color="red-10" icon="close" class="q-ma-sm">Discard</q-btn>
          </div>
        </div>
        <q-scroll-area class="col-3">
          <q-list dense v-if="current_video.edges">
            <q-item v-for="(screenshot, i) in current_video.edges.Screenshots"
                    :key="i" clickable
                    @click="editScreenshot(screenshot)">
              <q-img :src="`${$baseURL}/images/${screenshot.id}.png`">
                <div class="absolute-bottom text-subtitle1 text-center">
                  {{ screenshot.legend }}
                </div>
              </q-img>
            </q-item>
          </q-list>
        </q-scroll-area>
      </div>
    </div>

    <div class="col-2 q-pa-sm" v-if="current_video.video">
      <div class="row text-h6 text-center">
        {{current_video.video.snippet.title}}
      </div>
      <div class="row q-pa-sm text-center content-center  q-gutter-sm">

        <FarmInfo :farmid="farmId" class="col-4" :video-id="current_video.id"/>
        <div class="col-2 column">
          <q-btn class="col"
                 color="secondary"
                 @click="takeScreenshot()"
                 :disable="!videoLoaded">
            <q-icon name="camera" size="6rem" />
          </q-btn>
        </div>
        <q-scroll-area class="col q-pa-md text-body1 text-left" >
          <p>
            {{current_video.video.snippet.description}}
          </p>
        </q-scroll-area>
      </div>
    </div>
  </q-page>
</template>

<script>
import {actions, VideoStore} from 'src/store/index';
import Screenshot from "components/Screenshot";
import FarmInfo from "components/FarmInfo";

export default {
  name: "VideoComponent",
  components: {FarmInfo, Screenshot},
  computed: {
    ...VideoStore(['current_video', 'current_video_url', 'current_screenshot']),
    farmId() {
      return typeof this.current_video.edges === 'undefined' ? null :
        ( this.current_video.edges.Farms === null ? null :  this.current_video.edges.Farms.id);
    }
  },
  data() {
    return {
      videoLoaded: false,
      console,
      canvas: null,
      context: null,
      base64ImageData: null,
      screenshot: null,
      editScreenshotModal: false,
      time: 0,
      options: [],
      farm: {
        id: null,
        name: '',
        location: '',
        website: ''
      },
      count : 0,
      myInterval: null,
    }
  },
  methods: {
    filterFn (val, update, abort) {
      if (val.length < 2) {
        abort()
        return
      }
      update(() => {
        const needle = val.toLowerCase()
        this.options = stringOptions.filter(v => v.toLowerCase().indexOf(needle) > -1)
      })
    },
    onClose() {
      this.editScreenshotModal = false;
      this.screenshot = null;
      this.$refs.video.play();
      this.base64ImageData = null;
    },
    editScreenshot(screenshot) {
      this.$refs.video.pause();
      this.$store.commit(`video/${actions.SET_CURRENT_SCREENSHOT}`, screenshot)
      this.editScreenshotModal = true;
    },
    play(time) {
      this.$refs.video.currentTime = time;
      this.onClose();
    },
    createFarm(farmName) {
      console.log('createFarm', farmName)
      this.$axios.post('/farm/new', {
        farmName,
        videoId: this.videoId
      }).then(({data}) => {
        this.farm = data;
      }).catch(console.error)
    },
    keep() {
      this.$store.dispatch(`video/${actions.NEW_SCREENSHOT}`, {
        base64ImageData: this.base64ImageData,
        time: this.time,
        videoId: this.current_video.video_uid
      }).then(() => {
        this.editScreenshotModal = true
      });
    },
    discard() {
      this.$store.commit(`video/${actions.SET_CURRENT_SCREENSHOT}`, null);
      this.base64ImageData = null;
      this.$refs.video.currentTime -= 3;
      this.$refs.video.play();
    },
    takeScreenshot() {
      // this.$refs.video.currentTime = time;
      this.$refs.video.pause();
      this.time = this.$refs.video.currentTime;
      this.context.drawImage(this.$refs.video, 0, 0, this.canvas.width, this.canvas.height);
      this.base64ImageData = this.canvas.toDataURL();
    },
    startTimer() {
      console.log('STARTING TIMER');
      if (this.myInterval) {

      } else {
        this.myInterval = window.setInterval(this.timerHandler, 1000);
      }
      // this.stopTimer()
    },
    stopTimer() {
      window.clearInterval(this.myInterval);
      this.myInterval = null;
    },
    timerHandler() {
      this.count++;
      if (this.count % 60 === 0) {
        this.$store.dispatch(`video/${actions.SET_TIME_SPENT_ON_VIDEO}`, {
          video_id: this.current_video.id,
          time_spent: this.count,
        })
        console.log('time spent in seconds', this.count);
      }

    },
    async ready() {
      const video = document.getElementById(`video_${this.current_video.video.id}`);
      console.log('async loaded video');
      if (video) {
        this.videoLoaded = true;
        this.canvas = document.createElement('canvas');
        this.context = this.canvas.getContext('2d');
        let [w, h] = [video.videoWidth, video.videoHeight]
        this.canvas.width = w;
        this.canvas.height = h;
        this.startTimer();
        if (this.current_video && this.current_video.video ) {
          console.warn('ready to play')
          video.play();
        } else {
          console.warn('async ready: current_video still not set from store')
        }
      } else {
        console.warn('on video ready with no Video Tag')
      }

    },
    handleChange() {
      if (document.hidden) {
        this.$refs.video.pause();
        this.stopTimer();
      } else {
        if (!this.editScreenshotModal) {
          this.$refs.video.play();
        }
        this.startTimer();
      }
    }
  },
  beforeDestroy() {
    this.stopTimer();
    document.removeEventListener('visibilitychange', this.handleChange);

    // const video = document.getElementById(`video_${current_video.video.id}`)
    const video = document.createElement('video')
    video.pause();

    this.$refs.video.pause();
    this.$refs.video.removeAttribute('src');


    this.$refs.video.load();
  },
  mounted() {
    this.startTimer();
    // Handle page visibility change
    document.addEventListener('visibilitychange', this.handleChange, false);
    // this.$refs.video.audioTrackList.onaddtrack = function(event) {
    //   console.log('onaddtrack', event.track);
    // };
    //
    // this.$refs.video.onremovetrack = function(event) {
    //   console.log('removeTrack', event.track);
    // };
  }
}
</script>

<style scoped>

</style>
