// app global css in SCSS form

@media only screen and (min-width: 1750px) {
  .q-card, .full-width {
    max-width: 1700px !important;
    width: 1700px;
    margin: auto;
  }

}


.hover{
  &:hover {
    background-color: yellow;
    cursor: pointer;
  }

}
