<template>
  <div>
    <q-card v-for="(video, i) in videos" :key="i"
            class="clickable"
            @click.native="selectVideo(video)"
    >
      <q-card-section class="row q-pa-md">
        <div class="col-2 text-h3 q-pa-md">
          {{ video.time_spent/60 }} mn
        </div>
        <div class="col-10 text-h4">
          {{ video.video.snippet.title }}
        </div>
      </q-card-section>
      <q-card-section class="row q-pa-md">
        <div class="col-2 q-pa-sm row"
             v-for="(ss, i) in video.edges.Screenshots"
             v-if="video.edges.Screenshots && video.edges.Screenshots.length >0">
          <div class="col-3">
            <q-badge v-for="ssLabel in Object.keys(ss.edges)"
                     :key="ssLabel"
                     :color="ss.edges[ssLabel].length>0 ?'secondary': 'primary'"
                     v-if="ss.edges[ssLabel]">
              {{ ss.edges[ssLabel].length }}
              <q-icon v-if="ssLabel==='Plant'" name="grass" class="q-ml-sm"/>
              <q-icon v-else-if="ssLabel==='Measurements'" name="build" class="q-ml-sm"/>
            </q-badge>
          </div>
          <q-img :src="`${$baseURL}/images/${ss.id}.png`  " class="col-9"/>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  name: "activeVideos",
  data() {
    return {
      videos: [],
      slide: {},
    }
  },
  mounted() {

    this.$axios.get(`/video/mostactive`).then(({data}) => {
      this.videos = data;
      this.slide = this.videos.reduce((acc, vid) => Object.assign({}, acc, {[vid.id]: 1}), {})
    })
  },
  methods: {
    selectVideo(video){
      console.log('go to video', video)
      this.$router.push(`/${this.$route.params.leftPane}/video/${video.video.id}`)
    }
  }
}
</script>

<style scoped lang="scss">
.clickable {
  &:hover {
    cursor: pointer;
    background-color: yellowgreen;
  }

}
</style>
