<template>
  <div class="row">
    <q-card class="col-3" v-for="(farm, i) in data" :key="i" v-if="farm.edges">
      <q-card-section>
        <h4>
          {{ farm.farm_name }}
        </h4>
        <hr/>
        <h6>
          {{ farm.location }}
        </h6>
        <h6 class="text-red" v-if="typeof farm.location === 'undefined' ||  farm.location.length===0">
          unset
        </h6>
        <hr/>
        {{ farm.edges.Videos.length}} videos
        {{ farm.edges.FarmIndividuals.length}} accounts,
        {{ farm.edges.Links.length }} links
      </q-card-section>
      <q-card-actions>
        <q-btn>Delete</q-btn>
        <q-btn>More</q-btn>
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
export default {
  name: "farm",
  props: ['data'],
  methods: {
    deleteFarm(farm) {

    }
  }
}
</script>

<style scoped>

</style>
