<template>
  <q-tree
    v-if="data"
    :nodes="data"
    node-key="label"
    selected-color="primary"
    :selected.sync="selected"
    default-expand-all
    @update:selected="select"
    :expanded.sync="expanded"
  />
</template>

<script>
import {actions, VideoStore} from 'src/store/index';
export default {
  name: "plant",
  props: ['data'],
  data() {
    return {
      selected: '',
    }
  },
  computed: {
    expanded () {return Object.values(this.data).map(({label}) => label)},
    ...VideoStore(['plantIndex']),
  },
  methods: {
    select(val) {
      console.log('selected', val)
      console.log(this.plantIndex[val])
    }
  },
  mounted() {

  }
}
</script>

<style scoped>

</style>
