<template>
  <div class="row">
    <q-card v-for="(search, i) in data" :key="i" class="col-3 hover" @click.native="executeSearch(search)">
      <q-card-section >
        <h5 v-if="search.search_query">
          <q-icon name="bookmark" />
          {{search.search_query}}
        </h5>
        <h5 v-if="search.search_channel">
          <q-icon name="account_box" />
          {{channel_index[search.search_channel].name}}
        </h5>

      </q-card-section>
    </q-card>
  </div>

</template>

<script>
import {VideoStore, actions} from 'src/store/index';
export default {
  name: 'search',
  props: ['data'],
  computed: {
    ...VideoStore(['channel_index'])
  },
  methods: {
    executeSearch(search) {
      if (search.search_channel) {
         this.$router.push(`search?keyword=&channel=${search.search_channel}`)
      } else if (search.search_query) {
        this.$router.push(`search?keyword=&channel=${search.search_query}`)
      } else {
        console.error(search)
      }
    }
  }
}
</script>

<style scoped>

</style>
