<template>
  <q-layout view="lHh Lpr lFf" style="min-width: 1500px !important;max-width: 1780px; margin: auto" >
    <q-header elevated>
      <q-toolbar class="row">
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <q-toolbar-title>
          Perma-Lib

          <q-btn color="white"  text-color="primary" size="md"
                 :to="`/${activeLeftPane.value}/`"
                 dense icon="home">
            {{activeLeftPane.label}}
          </q-btn>
        </q-toolbar-title>
        <q-form
          @submit="apiSearch"
          class="col-8  row q-gutter-sm"
        >
          <q-select label="Search"
                    v-model="keyword"
                    dense
                    clearable
                    use-input
                    hide-dropdown-icon
                    input-debounce="0"
                    filled
                    bg-color="white"
                    :options="select_queries"
                    @input="setSearchQuery"
                    class="col-5"
                    @new-value="createValue">
            <template v-slot:option="scope">
              <q-item
                v-bind="scope.itemProps"
                v-on="scope.itemEvents"
              >
                {{scope.opt.search_query}}
              </q-item>
            </template>
          </q-select>
          <q-select label="Channel"
                    v-model="channelName"
                    dense
                    clearable
                    filled
                    bg-color="white"
                    :options="select_channels"
                    @input="setSearchChannel"
                    class="col-5">
            <template v-slot:option="scope">
              <q-item
                v-bind="scope.itemProps"
                v-on="scope.itemEvents"
              >
                {{scope.opt.name}}
              </q-item>
            </template>
          </q-select>
<!--          <q-input label="Channel Id" v-model="channel" class="q-ml-sm" dense clearable filled bg-color="white" />-->
          <q-btn color="white" class="q-ml-sm col"  outline type="submit">Search</q-btn>
        </q-form>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      content-class="bg-grey-1"
    >

      <q-list>
        <q-item
          clickable
          tag="a"
          target="_blank"
          v-for="(p, i) in panelTypes"
          :key="i"
          :active="p.value===$route.params.leftPane"
          active-class="bg-yellow-2"
          @click="updatePanel(p)"
        >

          <q-item-section>
            <q-item-label>{{ p.label }}</q-item-label>
            <q-item-label caption>
              {{ p.value }}
            </q-item-label>
          </q-item-section>
        </q-item>

      </q-list>

    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'
import {VideoStore, actions} from 'src/store/index'
import linksData from "layouts/links";
import List from './../components/List';
import {panelTypes} from "components/list-items/panelTypes";

const checkDef = val =>val && val.length >0 ? val : '';
export default {
  name: 'MainLayout',
  components: { EssentialLink, List },
  computed: {
    ...VideoStore(['select_queries', 'select_channels', 'channel_index'])
  },
  data () {
    return {
      keyword: '',
      channelName: '',
      channelId: '',
      leftDrawerOpen: false,
      essentialLinks: linksData,
      panelTypes,
      activeLeftPane: {},
    }
  },
  methods: {
    updatePanel(newPane) {
      this.activeLeftPane = newPane;
      const currentRoute = {name: 'index', params: {leftPane:newPane.value}};
      this.$router.push(currentRoute);
    },
    setSearchQuery(searchQuery) {
      console.log(searchQuery);
      this.keyword = checkDef(searchQuery.search_query);
      this.channelId = '';
      this.channelName = '';
      this.apiSearch();
    },
    setSearchChannel(channel) {
      this.channelId = checkDef(channel.youtube_id);
      this.channelName = channel.name;
      this.keyword = '';
      this.apiSearch();
    },
    createValue (val, done) {
      // specific logic to eventually call done(...) -- or not
      this.keyword = val;
      this.channelId = '';
      this.channelName = '';
      done(val, 'add-unique')
      const url = `/${this.$route.params.leftPane}/search?keyword=${checkDef(val)}&channel=`;
      this.$router.push(url);

    },
    apiSearch() {

      this.$router.push(`/${this.$route.params.leftPane}/search?keyword=${checkDef(this.keyword)}&channel=${checkDef(this.channelId)}`)
    },
    loadRoute(route) {
      this.activeLeftPane = this.panelTypes.find(pt => pt.value === route.params.leftPane)
      if (route.name === 'search') {
        const {keyword, channel} = route.query;
        console.log('KEY', keyword)
        this.keyword = keyword;
        this.channelId = channel;
        console.log('index', this.channel_index);
        this.channelName = this.channel_index[this.channelId] ? this.channel_index[this.channelId].name : '';
      }
    }
  },
  watch: {
    '$route': function(route) {
      this.loadRoute(route)
    }
  },
  mounted() {
    this.loadRoute(this.$route);

  }
}
</script>
